@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; 
  color: white; 
}

.container-main {
  width: 100%;
  height: auto;
}

.sidebar {
  width: 300px;
  background-color: black; /* Change background color to black */
  color: white; /* Ensure text is readable on the black background */
  padding: 20px;
  height: 100vh;
}

.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar-section {
  margin-top: 10vh
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

